#markdown, #mkdown::after{
  display: none;
}

#input form{
  height: 95%;
}

#output{
  border: 1px solid #eee;
  border-top: 0px;
  overflow-y: auto;
  background-color: #2E294E;
}

#console{
  padding: 5px;
}

.error{
  color: red;
}

.noerror{
  color: black;
}

#runcode{
  width: 100%;
  
  margin-bottom: 0px;
  background-color: #101A3F;
  color: #3FDE74;
  height: 100%;
}

.CodeMirror {
  border: 1px solid #eee;
  border-top: 0px;
  max-height: 700px;
}

.CodeMirror.cm-s-default.CodeMirror-wrap{
  padding-left: 0px;
  color: white;
}

.CodeMirror-cursor{
  border-color: white;
}

#actions{
  text-align: center;
  background-color: #eef;
}

#actions p{
  width: 50px;
}

#save{
  margin: auto 0px auto 0px;
}

.CodeMirror-scroll{
  background-color: #2E294E;
}