#body{
    height: 94%;
    background-color: #101A3F;
    color: #3FDE74;
    padding: 5px;
}

#actions{
    padding: 5px;
    background-color: #eef;
    height: 6%;
}

#save{
    margin: auto 0px auto 0px;
    width: 50px;
}

#publishedForm{
  width: 75px;
}

textarea{
    width: 90%;
    height: 100%;
}

.CodeMirror{
    border: 1px solid black;
}

.CodeMirror.cm-s-default.CodeMirror-wrap{
    padding-left: 0px;
    color: white;
    background: black;
  }

.CodeMirror-scroll{
    background-color: #2E294E;
}

#output{
    border: 1px solid black;
    overflow-y: auto;
    padding: 0px;
}

#content{
    color: #3FDE74;
    background-color: #2E294E;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 20px;
}

#content pre{
  background-color: dimgray;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}

/* codeSelect stuff */

.offcanvas.offcanvas-end{
    width: 100%;
    top: 6%;
    height: 94%;
  }
  
  #html{
    color: #3FDE74;
    background-color: #101A3F;
    height: 100%;
  }
  
  #header{
    height: 10%;
  }
  
  #header h1{
    text-align: center;
  }
  
  #htmlContent{
    color: #3FDE74;
    background-color: #2E294E;
    height: 90%;
    overflow: auto;
  }
    
  #selectHtmlContent td, #selectHtmlContent th{
    padding: 10px;
    color: #3FDE74;
  }
  
  #selectBody{
    background-color: #101A3F;
    color: #3FDE74;
    height: 100%;
  }
  
  #selectHeader{
    background-color: #101A3F;
    color: #3FDE74;
    height: 10%;
  }
  
  #selectHtmlContent{
    padding: 10px;
    background-color: #2E294E;
    color: #3FDE74;
    height: 100%;
    overflow: auto;
  }