#body{
    height: 90%;
}

#actions{
    padding: 5px;
    background-color: #eef;
}

#save{
    margin: auto 0px auto 0px;
    width: 50px;
}

textarea{
    width: 90%;
    height: 100%;
}

.CodeMirror{
    border: 1px solid #eee;
}

#output{
    border: 1px solid black;
    overflow-y: auto;
    padding: 0px;
}

#content{
    color: #3FDE74;
    background-color: #2E294E;
    overflow: auto;
    width: 100%;
    height: 100%;
}