#body{
    height: 94%;
    background-color: #101A3F;
    color: #3FDE74;
    padding: 5px;
}

#actions{
    padding: 5px;
    background-color: #eef;
    height: 6%;
}

#save{
    margin: auto 0px auto 0px;
    width: 50px;
}

textarea{
    width: 90%;
    height: 100%;
}

.CodeMirror{
    border: 1px solid black;
}

.CodeMirror.cm-s-default.CodeMirror-wrap{
    padding-left: 0px;
    color: white;
    background: black;
  }
  
.CodeMirror-cursor{
}

.CodeMirror-scroll{
    background-color: #2E294E;
}

#output{
    border: 1px solid black;
    overflow-y: auto;
    padding: 0px;
}

#content{
    color: #3FDE74;
    background-color: #2E294E;
    overflow: auto;
    width: 100%;
    height: 100%;
}