#html{
    color: #3FDE74;
    background-color: #101A3F;
    height: 100%;
}

.offcanvas-header{
    height: 10%;
}

.offcanvas-header h1{
    text-align: center;
}

#content{
    color: #3FDE74;
    background-color: #2E294E;
    height: 90%;
    overflow: auto;
    padding: 20px;
}

pre{
    background-color: dimgray;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}