{% extends "base.html" %}
  {% block title %}Lessons{{super()}}{% endblock %}
  {% block stylesheet %}lessonHomeStyle.css{% endblock %}
{% block body %}
<div id="body">
  <div id="header">
    <h1 class="text-center">Lessons</h1>
    <form action="" method="post" class="d-flex justify-content-center">
      <input type="submit" value="Create New Lesson">
    </form>
  </div>
  <div id="content">
    <table class="d-flex justify-content-evenly">
      <tr class="text-center">
        <th>Name</th>
        <th>Author</th>
        <th>Date Created</th>
      </tr>
      {% for things in lessons %}
        <tr class="doc">
          <td><a href="/lessons/{{things['docID']}}/edit" id="url">{{things['title']}}</a></td>
          <td>{{things['email']}}</td>
          <td>{{things['created'][:11]}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
{% block scripts %}
  <script src="/static/javascript/lessonScript.js"></script>
{% endblock %}