{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block stylesheet %}lessonStyle.css{% endblock %}
{% block body %}
<div id="html">
    <div id="header" class="container-fluid row">
        <div class="d-flex align-items-center">
            <div class="col-4">
                <a href="/lessons">Back to lessons</a>
            </div>
            <h1 class="col-4">{{title}}</h1>
            <button><a href="/lessons/{{lessonID}}/edit">Edit Lesson</a></button>
            {% if codeID != None %}
            <button type="button"><a href="/code/{{codeID}}">Linked Code</a></button>
            {% endif %}
        </div>
    </div>
    <div id="content">
        {{html|safe}}
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}