{% extends "base.html" %}
{% block title %}Register{{super()}}{% endblock %}
{% block stylesheet %}register.css{% endblock %}
{% block body %}
{% if success == True %}
<div id="body" class="d-flex align-items-center">
    <div class="container-fluid">
      <div class="row justify-content-center" id="logo">
        <h1 class="display-1 text-center"><a href="/home">Ln</a></h1>
      </div>
      <div class="row justify-content-center m-5">
        <p class="text-center">Thank you for creating an account. You can now <a href="/login">login</a>.</p>
      </div>
      <div class="row justify-content-center">
        <a class="text-center" href="/login"><button class="btn btn-outline-light" style="width: 49%">Login</button></a>
      </div>
    </div>
  </div>
<p>Your account has been created. You may now login</p>
{% else %}
<div class="d-flex" id="registerDiv">
    <form method="post" class="container-fluid form">
        <div id="logo" class="align-items-start p-3">
            <h1 class="display-1 text-center"><a>Register</a></h1>
        </div>
        <div id="form-data" class="align-items-center">
            <div class="row p-3">
                <div class="btn-group" role="group" id="btngroup">
                    {% if role == "teacher" %}
                    <input type="radio" class="btn-check" id="btncheck1" name="role" autocomplete="off" value="student">
                    <label class="btn btn-outline-light" for="btncheck1">Student</label>
                    <input type="radio" class="btn-check" id="btncheck2" name="role" checked autocomplete="off" value="teacher">
                    <label class="btn btn-outline-light" for="btncheck2">Teacher</label>
                    {% else %}
                    <input type="radio" class="btn-check" id="btncheck1" name="role" checked autocomplete="off" value="student">
                    <label class="btn btn-outline-light" for="btncheck1">Student</label>
                    <input type="radio" class="btn-check" id="btncheck2" name="role" autocomplete="off" value="teacher">
                    <label class="btn btn-outline-light" for="btncheck2">Teacher</label>
                    {% endif %}
                </div>
            </div>
            <div class="row p-3">
                <div class="form-floating">
                    <input type="email" name="email" placeholder="Email Address" class="form-control" value="{{email}}" id="email" autocomplete="off">
                    <label for="email">Email Address</label>
                </div>
            </div>
            <div class="row p-3 justify-content-between">
                <div class="col-6" id="name1">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="First Name" name="firstName" value="{{firstName}}" id="firstName" autocomplete="off">
                        <label for="firstName">First Name</label>
                    </div>
                </div>
                <div class="col-6" id="name2">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Last Name" name="lastName" value="{{lastName}}" id="lastName" autocomplete="off">
                        <label for="lastName">Last Name</label>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="form-floating">
                    <input type="password" name="password" placeholder="Password" class="form-control" id="password" autocomplete="off">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row p-3" id="submit">
                <input type="submit" name="submit" value="Register" class="btn btn-outline-light btn-block">
            </div>
            <p id="error" class="row text-center">{{error}}</p>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}